@import "tailwindcss";

@theme {
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;

}

body {
  font-family: var(--font-sans);
  font-size: 0.875rem;
  /* 14px */
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.025em;
}

.prose h1 {
  font-size: 1.875rem;
}

.prose h2 {
  font-size: 1.2rem;
}